@media screen and (min-width: 1025px) and (max-width:1280px) {

    .container-3{
        .main{
            width:1025px;
            .monitor{
                img{
                    width: 438px;
                }
                .backgroundMonitor{
                    width:402.03px;
                    margin-left: -420px;
                    height: 228px;
                    margin-top: 18px;
                }
            }
        }
    }
}