@media screen and (min-width: 320px) and (max-width:767px) {
    .container-2{
        width:100%;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://wallpapercave.com/wp/wp4778489.jpg");
        .arrowLeft{
            display: none;
        }
        
        .arrowRight{
            display: none;
        }
    
        .text{
            line-height: 0px;
            width:264px;
            height: 77.61px;
            margin-top: -58px;
            
            .line1{
                font-size: 25px;
                font-weight: 200;
                margin-left: 44px;
               
                
            }
            .line2{
                font-size:30px;
                margin-left: 10px;
               
            }
            .line3{
                font-size: 8px;
                font-weight: 200;
                width:264px;
                span{
                   display: none;
                }
            }
            .button{
                width: 64px;
                height:19px;
                margin: 0px;
                margin-top: 0px;
                margin-left: 100px;
            }
            button{
                font-size: 7px;
                width:60px;
                height:15px;
            }
        }
    }
}