* {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html, body{
    margin:0px;
}
@import '/./styles/palette';
.container-1{
    width:100%;
    background-color: $background-col;
    display: flex;
    font-family: "Open Sans";
    font-size:14px;
    .logo{
        display: inline-block;
    }

    .navbar{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            justify-content: space-between;
            padding: 0px;
            li{
                display: inline-block;
                color: $white;
            }
        }
    }
}