@media screen and (min-width: 320px) and (max-width:767px) {
    .container-1{
        height: 65px;
        flex-direction: row;
        justify-content: space-between;
    
        .logo{
            padding-top: 15px;
            padding-left: 20px;

            img{
                width:85.84px;
                height: 38.49px;
            }
        }
        .navbar{
            display: none;
        }
        .menuButton{
           align-self: center;
           padding-right: 20px;

           img{
            width:48px;
            height: 31px;
           }
        }
    }
    
    
}
@media screen and  (max-width:319px) and (min-width:1px) {
    .container-1{
        height: 65px;
        flex-direction: row;
        justify-content: space-between;
    
        .logo{
            padding-top: 15px;
            padding-left: 20px;

            img{
                width:85.84px;
                height: 38.49px;
            }
        }
        .navbar{
            display: none;
        }
        .menuButton{
           align-self: center;
           padding-right: 20px;

           img{
            width:48px;
            height: 31px;
           }
        }
    }
    
    
}